section {
    width: 1200px;
    padding: 30px 0 50px;
    border-bottom: 2px solid #f2f2f2;
    margin: auto;
    overflow: hidden;
}

.slide_wrap {
    overflow: hidden;
}

.slide_img>a {
    display: block;
    width: 100%;
    padding-top: 38.333%;
    background-image: url(../img/sec1/220330_052325_189300p.jpg);
    background-size: cover;
}

.arrows {
    float: right;
    display: flex;
    padding: 20px;
}

.arrows>li {
    font-size: 12px;
    line-height: 27px;
    font-weight: 700;
    color: #b3b3b3;
}

.arrows>li>a {
    font-size: 12px;
    line-height: 27px;
    font-weight: 700;
    color: #b3b3b3;
    padding: 0 5px;
}

.category_list {
    display: flex;
}

.category_list div {
    width: 70%;
    margin: auto;
    position: relative;
}

.new_cate::after {
    content: "";
    display: block;
    background: url(../img/sec1/new_cate.png) no-repeat 0 -50px;
    width: 16px;
    height: 21px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.category_list div>img {
    width: 100%;
}

.category_list p {
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    color: #4d4d4d;
}

.title_wrap {
    display: flex;
    justify-content: space-between;
}

.title_wrap>h2 {
    font-size: 25px;
    font-weight: 700;
    line-height: 63px;
    color: #222624;
}

.title_wrap div>a {
    line-height: 63px;
    font-size: 16px;
    font-weight: 700;
    padding-right: 20px;
    background-repeat: no-repeat;
    background-position: right center;
}

.setting>a {
    background-image: url(../img/sec2/setting.png);
    background-size: 15px auto;
    color: #4d4d4d;
}

.more>a {
    background-image: url(../img/sec3/arrow04_r.png);
    background-size: 7px auto;
    color: #009a3a;
}

.story_wrap {
    width: 100%;
    overflow-x: scroll;
}

/*
::-webkit-scrollbar {
    display: none;
}
*/

.story_wrap>div {
    width: 200%;
}

.tab {
    display: flex;
}

.tab>li {
    margin-right: 8px;
    flex-shrink: 0;
}

.tab>li>a {
    color: #4d4d4d;
    display: block;
    padding: 0 13px;
    line-height: 37px;
    font-size: 14px;
    background-color: #f2f2f2;
    border-radius: 4px;
}

.tab>li>.list_active {
    background-color: #009a3a;
    color: #fff;
}

.story, .mdPick, .guide, .quick {
    width: calc(100% + 20px);
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
}

figure {
    width: 25%;
    box-sizing: border-box;
    padding: 30px 10px;
}

figure>a {
    display: block;
    width: 100%;
}

figure>a>div {
    width: 100%;
    border-radius: 4px;
    padding-top: 66.67%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.new_txt {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #e05438;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    padding: 0 7px;
    border-radius: 4px;
    line-height: 24px;
}

figure>a>div::after {
    content: "";
    display: block;
    width: 31px;
    height: 40px;
    background-image: url(../img/sec3/scrap.png);
    background-size: 100% auto;
    position: absolute;
    right: 12px;
    bottom: 13px;
}

.story_img1 {
    background-image: url(../img/sec3/s220329_2027247306.jpeg);
}

.story_img2 {
    background-image: url(../img/sec3/s220327_1003527306.jpeg);
}

.story_img3 {
    background-image: url(../img/sec3/s220405_1422537306.jpeg);
}

.story_img4 {
    background-image: url(../img/sec3/s220401_1004397306.jpeg);
}

.story_img5 {
    background-image: url(../img/sec3/s220325_1716567306.jpeg);
}

.story_img6 {
    background-image: url(../img/sec3/s220403_1608084464.jpeg);
}

.story_img7 {
    background-image: url(../img/sec3/s220326_1547404464.jpeg);
}

.story_img8 {
    background-image: url(../img/sec3/s220325_155235611.png);
}

.story figcaption {
    margin: 15px 0 10px;
    font-size: 12px;
    color: #4d4d4d;
}

.user {
    display: flex;
    align-items: center;
}

.story>figure span {
    display: inline-block;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.user_img1 {
    background-image: url(../img/sec3/220327_101738_jpeg.jpg);
}

.user_img2 {
    background-image: url(../img/sec3/210802_143646_jpeg.jpg);
}

.user_img3 {
    background-image: url(../img/sec3/210226_142333_png.jpg);
}

.more_btn>div {
    display: none;
}

.story>figure p {
    font-size: 15px;
    color: #4d4d4d;
    margin-left: 10px;
}

.tab_wrap {
    display: flex;
    justify-content: space-between;
}

.lank {
    width: calc(100% + 20px);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
}

.lank>div {
    width: 33.333%;
    height: 100px;
    background-color: #f8f8f8;
    margin-right: 20px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    flex-shrink: 0;
}

.lank_img {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 20px;
}

.lank_img>img {
    width: 100%;
}

.lank_name {
    font-weight: bold;
    color: #d9d9d9;
    line-height: 20px;
}

.lank_name>a {
    font-size: 18px;
    color: #4d4d4d;
    font-weight: 500;
    padding-right: 10px;
}

.lank_name>span {
    color: #009a3a;
    font-size: 13px;
    padding-right: 10px;
}

.lank_title {
    font-size: 15px;
    padding-top: 10px;
    color: #808080;
}

.trip {
    border-top: 1px solid #d9d9d9;
}

.trip_wrap>a {
    display: flex;
    border-bottom: 1px solid #d9d9d9;
    padding: 15px 40px;
    align-items: center;
}

.trip_img {
    width: 49px;
    height: 49px;
    border-radius: 100%;
    border: 1px solid #d9d9d9;
    overflow: hidden;
}

.trip1 {
    background-image: url(../img/sec5/s210504_164808611.png);
    background-size: cover;
}

.trip_txt {
    width: calc(100% - 210px);
    padding-left: 20px;
}

.trip_txt>span {
    color: #4d4d4d;
    padding-right: 22px;
    background-image: url(../img/sec5/place.png);
    background-repeat: no-repeat;
    background-size: 12px auto;
    background-position: right center;
}

.trip_txt>p {
    font-size: 14px;
    color: #808080;
}

.trip_icons {
    width: 160px;
    display: flex;
}

.trip_icons>li {
    padding-left: 20px;
    font-size: 14px;
    color: #b3b3b3;
    margin: 0 10px;
    line-height: 14px;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: left center;
}

.trip_like {
    background-image: url(../img/sec5/state_like.png);
}

.trip_scrap {
    background-image: url(../img/sec5/state_scrap.png);
}

.trip_arrow {
    background-image: url(../img/sec5/arrow19_r.png);
    height: 14px;
}

.video {
    width: calc(100% + 20px);
    display: flex;
    flex-wrap: wrap;
}

.video>div {
    width: calc(33.333% - 20px);
    margin-right: 20px;
    margin-bottom: 30px;
}

.youtube {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 55%;
    overflow: hidden;
}

.video iframe, .video .thums {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.video .thums {
    background-size: cover;
    background-position: center center;
    transition: transform 0.5s;
}

.youtube>.img3 {
    background-image: url(../img/sec6/210618_095005.png);
}

.youtube>.play {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.youtube>.play::after {
    content: "";
    border-left: 12px solid #000;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/*
.test {
    width: 100%;
    height: 100vh;
    background-color: #000;
}

.tooltip {
    width: 300px;
    height: 200px;
    background-color: #fff;
    border-radius: 30px;
    position: relative;
    top: 100px;
    left: 100px;
}

.tooltip::after {
    content: "";
    border-top: 50px solid #fff;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    bottom: -50px;
    right: 50px;
}
*/

.video p {
    line-height: 20px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 10px 0;
    width: 100%;
}

.youtube>.time {
    position: absolute;
    left: 0;
    bottom: 0;
    padding-right: 7px;
    padding-left: 7px;
    line-height: 20px;
    font-size: 10px;
    border-radius: 4px;
    color: #fff;
    background-color: #000;
}

.youtube>.scrap {
    position: absolute;
    right: 7px;
    bottom: 7px;
    height: 41px;
    width: 41px;
    background-image: url(../img/sec6/scrap.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.video>div:hover .thums{
    transform: scale(1.05);
}

.video>div:hover p {
    text-decoration: underline;
}

.keyword {
    background-image: url(../img/sec7/hotkeyword.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-color: #f2faf5;
    padding: 60px 0;
    background-size: 33.08% auto;
    width: 100%;
    overflow: auto;
}

.keyword li {
    white-space: nowrap;
    padding-left: 50px;
}

.keyword li:last-child {
    padding-left: 100px;
}

.keyword a {
    display: inline-block;
    padding: 0 30px;
    line-height: 48px;
    font-size: 16px;
    color: #3a6b4a;
    background-color: rgba(209,232,218,0.9);
    border-radius: 24px;
    margin: 9px;
}

.keyword .other {
    color: #fff;
    background-color: rgba(0,154,62,0.9);;
}

.mdPick {
    display: flex;
    flex-wrap: wrap;
}

.mdPick>figure {
    width: 25%;
}

.mdPick>figure>a>div {
    padding-top: 100%;
}

.mdPick .img1 {
    background-image: url(../img/sec8/1302_tmp_28f6fa0ba33ced93fa4013d30e61b1063216list1.jpg);
}
.mdPick .img2 {
    background-image: url(../img/sec8/_tmp_8d8f8fc785d3e786e514f967d886a12c4700list1.jpg);
}
.mdPick .img3 {
    background-image: url(../img/sec8/5913_2021091714171821.jpg);
}
.mdPick .img4 {
    background-image: url(../img/sec8/2643_tmp_03febcad796a3bd8cfc789a277250d126933list1.jpg);
}
.mdPick .img5 {
    background-image: url(../img/sec8/5005_tmp_bd37ae33b2ae208eaa6afafec0440b194916list1.jpg);
}
.mdPick .img6 {
    background-image: url(../img/sec8/2821_tmp_cf6b173585b723349da38a1c41ec8b006805list1.jpg);
}
.mdPick .img7 {
    background-image: url(../img/sec8/72_temp_16149269002260list1.png);
}
.mdPick .img8 {
    background-image: url(../img/sec8/7033_tmp_44f01d3ef64204fd703526a0e010880b2804list1.jpg);
}

.mdPick p {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #808080;
    margin-top: 21px;
    white-space: nowrap;
}

.mdPick ul {
    display: flex;
}

.sale {
    color: #e05438;
    font-size: 20px;
    font-weight: 700;
    padding-right: 5px;
}

.price {
    font-size: 20px;
    color: #000;
    font-weight: 700;
}

.price>span {
    color: #b3b3b3;
    text-decoration: line-through;
    padding-right:10px;
}

.w100 {
    width: 100%;
    background-color: #f2f2f2;
}

.guide ul {
    display: flex;
    width: 100%;
}

.guide ul>li {
    width: 25%;
    padding: 0 10px;
}

.guide ul>li>a {
    display: block;
    position: relative;
    width: 100%;
    padding-top: 128.8%;
}

.guide ul>li>a>div {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.guide .img1 {
    background-image: url(../img/sec9/211213_093642_png.png);
}
.guide .img2 {
    background-image: url(../img/sec9/211213_093707_png.png);
}
.guide .img3 {
    background-image: url(../img/sec9/211213_093741_png.png);
}
.guide .img4 {
    background-image: url(../img/sec9/211213_093812_png.png);
}

.guide .new {
    position: absolute;
    top: 0;
    right: 6%;
    width: 27px;
    height: 41px;
    background-image: url(../img/sec9/new_guide.png);
    background-size: cover;
}

.quick>div {
    width: 50%;
    padding: 0 10px;
    box-sizing: border-box;
}

.quick>div>a {
    display: flex;
    width: 100%;
    background-color: #f2f2f2;
    border-radius: 4px;
    padding: 28px 6.78%;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}

.quick .title {
    font-size: 16px;
    font-weight: 700;
    color: #4d4d4d;
}

.quick .text {
    font-size: 14px;
    color: #808080;
}

.quick .sp {
    width: 40px;
    height: 40px;
    background-image: url(../img/sec10/sp_lv.png);
    background-size: auto 40px;
}

.lv {
    background-position: -119px 0;
}

.gm {
    background-position: -79px 0;
}


@media only screen and (max-width: 1200px) {
    section {
        width: 100%;
        padding: 30px 15px 50px;
        box-sizing: border-box;
    }

    .category_list p {
        font-size: 14px;
    }

    .lank_img {
        width: 48px;
        height: 48px;
        margin-right: 14px;
    }

    .lank_txt {
        width: calc(100% - 62px);
    }

    .lank_name>a {
        font-size: 15px;
    }
    
    .lank_name>span {
        font-size: 12px;
    }
    
    .lank_title {
        font-size: 14px;
    }

    .trip_icons>li {
        padding-left: 28px;
        font-size: 13px;
    }

    .youtube>.play {
        width: 42px;
        height: 42px;
    }

    .youtube>.play::after {
        border-left-width: 8px;
        border-top-width: 5px;
        border-bottom-width: 5px;
    }

    .youtube>.scrap {
        height: 34px;
        width: 29px;
        background-size: 22px auto;
    }

    .video p {
        font-size: 13px;
    }

    .mdPick p {
        font-size: 13px;
    }

    .sale {
        font-size: 16px;
    }

    .guide .new {
        width: 25px;
        height: 38px;
    }

    .quick>div>a {
        padding: 17px 6.78%;
    }
}

@media only screen and (max-width: 767px) {
    .slide_img>a {
        width: 100%;
        padding-top: 100%;
        background-image: url(../img/sec1/220330_052325_255300m.jpg);
        background-size: cover;
    }
    
    .arrows {
        display: none;
    }

    .category_list {
        flex-wrap: wrap;
        padding-top: 30px;
    }

    .category_list>li {
        width: 25%;
    }

    .story>figure {
        width: 50%;
    }

    .more_btn>div {
        display: block;
        width: 233px;
        height: 40px;
        line-height: 39px;
        font-size: 14px;
        font-weight: 400;
        color: #4d4d4d;
        background-color: #d9d9d9;
        border-radius: 20px;
        margin: auto;
        text-align: center;
    }

    .more {
        display: none;
    }

    .lank_wrap {
        width: 100%;
        overflow-x: scroll;
    }

    .lank {
        width: calc(210% + 20px);
    }

    .lank_img {
        width: 46px;
        height: 46px;
        margin-right: 18px;
    }

    .lank_txt {
        width: calc(100% - 64px);
    }

    .lank_name>a {
        font-size: 14px;
    }
    
    .lank_name>span {
        font-size: 11px;
    }
    
    .lank_title {
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .m_date {
        display: block;
        text-align: center;
        padding: 20px 0;
        font-size: 13px;
    }

    .trip_wrap {
        padding: 15px;
    }

    .trip_txt {
        width: calc(100% - 90px);
    }
    
    .trip_icons {
        width: 38px;
    }

    .video>div {
        width: calc(50% - 20px);
        margin-right: 20px;
        margin-bottom: 30px;
    }

    .video>div:first-child {
        width: calc(100% - 20px);
        margin-right: 0;
    }

    .video>div:last-child {
        display: none;
    }

    .mdPick>figure {
        width: 50%;
    }

    .mdPick ul {
        display: block;
    }

    .guide ul {
        overflow: auto;
    }

    .guide ul>li {
        width: 57%;
        flex-shrink: 0;
    }

    .guide .new {
        width: 23px;
        height: 35px;
    }

    .text>span {
        display: block;
    }

    .quick a {
        position: relative;
    }

    .quick .sp {
        position: absolute;
        bottom: 10px;
        right: 10px;
        width: 33px;
        height: 33px;
        background-size: auto 33px;
    }

    .lv {
        background-position: -99px 0;
    }

    .gm {
        background-position: -66px 0;
    }
}